/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VSMProductAnalyticsMetricAPIService VSMProductAnalyticsMetricAPI service
type VSMProductAnalyticsMetricAPIService service

type ApiVSMProductAnalyticsMetricCopyRequest struct {
	ctx context.Context
	ApiService *VSMProductAnalyticsMetricAPIService
	objectId string
	compact *bool
	fetch *string
}

// 
func (r ApiVSMProductAnalyticsMetricCopyRequest) Compact(compact bool) ApiVSMProductAnalyticsMetricCopyRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiVSMProductAnalyticsMetricCopyRequest) Fetch(fetch string) ApiVSMProductAnalyticsMetricCopyRequest {
	r.fetch = &fetch
	return r
}

func (r ApiVSMProductAnalyticsMetricCopyRequest) Execute() (*VSMProductAnalyticsMetricRead200Response, *http.Response, error) {
	return r.ApiService.VSMProductAnalyticsMetricCopyExecute(r)
}

/*
VSMProductAnalyticsMetricCopy VSMProductAnalyticsMetric Copy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiVSMProductAnalyticsMetricCopyRequest
*/
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricCopy(ctx context.Context, objectId string) ApiVSMProductAnalyticsMetricCopyRequest {
	return ApiVSMProductAnalyticsMetricCopyRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return VSMProductAnalyticsMetricRead200Response
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricCopyExecute(r ApiVSMProductAnalyticsMetricCopyRequest) (*VSMProductAnalyticsMetricRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMProductAnalyticsMetricRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMProductAnalyticsMetricAPIService.VSMProductAnalyticsMetricCopy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmproductanalyticsmetric/{objectId}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMProductAnalyticsMetricCreateRequest struct {
	ctx context.Context
	ApiService *VSMProductAnalyticsMetricAPIService
	vSMProductAnalyticsMetricMutation *VSMProductAnalyticsMetricMutation
}

// VSMProductAnalyticsMetric
func (r ApiVSMProductAnalyticsMetricCreateRequest) VSMProductAnalyticsMetricMutation(vSMProductAnalyticsMetricMutation VSMProductAnalyticsMetricMutation) ApiVSMProductAnalyticsMetricCreateRequest {
	r.vSMProductAnalyticsMetricMutation = &vSMProductAnalyticsMetricMutation
	return r
}

func (r ApiVSMProductAnalyticsMetricCreateRequest) Execute() (*VSMProductAnalyticsMetricCreate200Response, *http.Response, error) {
	return r.ApiService.VSMProductAnalyticsMetricCreateExecute(r)
}

/*
VSMProductAnalyticsMetricCreate VSMProductAnalyticsMetric Create

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVSMProductAnalyticsMetricCreateRequest
*/
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricCreate(ctx context.Context) ApiVSMProductAnalyticsMetricCreateRequest {
	return ApiVSMProductAnalyticsMetricCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VSMProductAnalyticsMetricCreate200Response
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricCreateExecute(r ApiVSMProductAnalyticsMetricCreateRequest) (*VSMProductAnalyticsMetricCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMProductAnalyticsMetricCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMProductAnalyticsMetricAPIService.VSMProductAnalyticsMetricCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmproductanalyticsmetric/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vSMProductAnalyticsMetricMutation == nil {
		return localVarReturnValue, nil, reportError("vSMProductAnalyticsMetricMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vSMProductAnalyticsMetricMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMProductAnalyticsMetricDeleteRequest struct {
	ctx context.Context
	ApiService *VSMProductAnalyticsMetricAPIService
	objectId string
}

func (r ApiVSMProductAnalyticsMetricDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.VSMProductAnalyticsMetricDeleteExecute(r)
}

/*
VSMProductAnalyticsMetricDelete VSMProductAnalyticsMetric Delete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiVSMProductAnalyticsMetricDeleteRequest
*/
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricDelete(ctx context.Context, objectId string) ApiVSMProductAnalyticsMetricDeleteRequest {
	return ApiVSMProductAnalyticsMetricDeleteRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return AllowedAttributeValueDelete200Response
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricDeleteExecute(r ApiVSMProductAnalyticsMetricDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMProductAnalyticsMetricAPIService.VSMProductAnalyticsMetricDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmproductanalyticsmetric/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMProductAnalyticsMetricQueryRequest struct {
	ctx context.Context
	ApiService *VSMProductAnalyticsMetricAPIService
	fetch *string
	start *int32
	pagesize *int32
	order *string
	query *string
	workspace *string
	compact *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank 
func (r ApiVSMProductAnalyticsMetricQueryRequest) Fetch(fetch string) ApiVSMProductAnalyticsMetricQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiVSMProductAnalyticsMetricQueryRequest) Start(start int32) ApiVSMProductAnalyticsMetricQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiVSMProductAnalyticsMetricQueryRequest) Pagesize(pagesize int32) ApiVSMProductAnalyticsMetricQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiVSMProductAnalyticsMetricQueryRequest) Order(order string) ApiVSMProductAnalyticsMetricQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiVSMProductAnalyticsMetricQueryRequest) Query(query string) ApiVSMProductAnalyticsMetricQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiVSMProductAnalyticsMetricQueryRequest) Workspace(workspace string) ApiVSMProductAnalyticsMetricQueryRequest {
	r.workspace = &workspace
	return r
}

// 
func (r ApiVSMProductAnalyticsMetricQueryRequest) Compact(compact bool) ApiVSMProductAnalyticsMetricQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiVSMProductAnalyticsMetricQueryRequest) Execute() (*VSMProductAnalyticsMetricQuery200Response, *http.Response, error) {
	return r.ApiService.VSMProductAnalyticsMetricQueryExecute(r)
}

/*
VSMProductAnalyticsMetricQuery VSMProductAnalyticsMetric Query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVSMProductAnalyticsMetricQueryRequest
*/
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricQuery(ctx context.Context) ApiVSMProductAnalyticsMetricQueryRequest {
	return ApiVSMProductAnalyticsMetricQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VSMProductAnalyticsMetricQuery200Response
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricQueryExecute(r ApiVSMProductAnalyticsMetricQueryRequest) (*VSMProductAnalyticsMetricQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMProductAnalyticsMetricQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMProductAnalyticsMetricAPIService.VSMProductAnalyticsMetricQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmproductanalyticsmetric"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMProductAnalyticsMetricReadRequest struct {
	ctx context.Context
	ApiService *VSMProductAnalyticsMetricAPIService
	objectId string
	compact *bool
	fetch *string
}

// 
func (r ApiVSMProductAnalyticsMetricReadRequest) Compact(compact bool) ApiVSMProductAnalyticsMetricReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiVSMProductAnalyticsMetricReadRequest) Fetch(fetch string) ApiVSMProductAnalyticsMetricReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiVSMProductAnalyticsMetricReadRequest) Execute() (*VSMProductAnalyticsMetricRead200Response, *http.Response, error) {
	return r.ApiService.VSMProductAnalyticsMetricReadExecute(r)
}

/*
VSMProductAnalyticsMetricRead VSMProductAnalyticsMetric Read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiVSMProductAnalyticsMetricReadRequest
*/
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricRead(ctx context.Context, objectId string) ApiVSMProductAnalyticsMetricReadRequest {
	return ApiVSMProductAnalyticsMetricReadRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return VSMProductAnalyticsMetricRead200Response
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricReadExecute(r ApiVSMProductAnalyticsMetricReadRequest) (*VSMProductAnalyticsMetricRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMProductAnalyticsMetricRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMProductAnalyticsMetricAPIService.VSMProductAnalyticsMetricRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmproductanalyticsmetric/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMProductAnalyticsMetricUpdateRequest struct {
	ctx context.Context
	ApiService *VSMProductAnalyticsMetricAPIService
	objectId string
	vSMProductAnalyticsMetricMutation *VSMProductAnalyticsMetricMutation
}

// VSMProductAnalyticsMetric
func (r ApiVSMProductAnalyticsMetricUpdateRequest) VSMProductAnalyticsMetricMutation(vSMProductAnalyticsMetricMutation VSMProductAnalyticsMetricMutation) ApiVSMProductAnalyticsMetricUpdateRequest {
	r.vSMProductAnalyticsMetricMutation = &vSMProductAnalyticsMetricMutation
	return r
}

func (r ApiVSMProductAnalyticsMetricUpdateRequest) Execute() (*VSMProductAnalyticsMetricRead200Response, *http.Response, error) {
	return r.ApiService.VSMProductAnalyticsMetricUpdateExecute(r)
}

/*
VSMProductAnalyticsMetricUpdate VSMProductAnalyticsMetric Update

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiVSMProductAnalyticsMetricUpdateRequest
*/
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricUpdate(ctx context.Context, objectId string) ApiVSMProductAnalyticsMetricUpdateRequest {
	return ApiVSMProductAnalyticsMetricUpdateRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return VSMProductAnalyticsMetricRead200Response
func (a *VSMProductAnalyticsMetricAPIService) VSMProductAnalyticsMetricUpdateExecute(r ApiVSMProductAnalyticsMetricUpdateRequest) (*VSMProductAnalyticsMetricRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMProductAnalyticsMetricRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMProductAnalyticsMetricAPIService.VSMProductAnalyticsMetricUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmproductanalyticsmetric/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vSMProductAnalyticsMetricMutation == nil {
		return localVarReturnValue, nil, reportError("vSMProductAnalyticsMetricMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vSMProductAnalyticsMetricMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
