/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// IterationCumulativeFlowDataAPIService IterationCumulativeFlowDataAPI service
type IterationCumulativeFlowDataAPIService service

type ApiIterationCumulativeFlowDataQueryRequest struct {
	ctx context.Context
	ApiService *IterationCumulativeFlowDataAPIService
	fetch *string
	start *int32
	pagesize *int32
	order *string
	query *string
	workspace *string
	compact *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank 
func (r ApiIterationCumulativeFlowDataQueryRequest) Fetch(fetch string) ApiIterationCumulativeFlowDataQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiIterationCumulativeFlowDataQueryRequest) Start(start int32) ApiIterationCumulativeFlowDataQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiIterationCumulativeFlowDataQueryRequest) Pagesize(pagesize int32) ApiIterationCumulativeFlowDataQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiIterationCumulativeFlowDataQueryRequest) Order(order string) ApiIterationCumulativeFlowDataQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiIterationCumulativeFlowDataQueryRequest) Query(query string) ApiIterationCumulativeFlowDataQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiIterationCumulativeFlowDataQueryRequest) Workspace(workspace string) ApiIterationCumulativeFlowDataQueryRequest {
	r.workspace = &workspace
	return r
}

// 
func (r ApiIterationCumulativeFlowDataQueryRequest) Compact(compact bool) ApiIterationCumulativeFlowDataQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiIterationCumulativeFlowDataQueryRequest) Execute() (*IterationCumulativeFlowDataQuery200Response, *http.Response, error) {
	return r.ApiService.IterationCumulativeFlowDataQueryExecute(r)
}

/*
IterationCumulativeFlowDataQuery IterationCumulativeFlowData Query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIterationCumulativeFlowDataQueryRequest
*/
func (a *IterationCumulativeFlowDataAPIService) IterationCumulativeFlowDataQuery(ctx context.Context) ApiIterationCumulativeFlowDataQueryRequest {
	return ApiIterationCumulativeFlowDataQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IterationCumulativeFlowDataQuery200Response
func (a *IterationCumulativeFlowDataAPIService) IterationCumulativeFlowDataQueryExecute(r ApiIterationCumulativeFlowDataQueryRequest) (*IterationCumulativeFlowDataQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IterationCumulativeFlowDataQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IterationCumulativeFlowDataAPIService.IterationCumulativeFlowDataQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/iterationcumulativeflowdata"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIterationCumulativeFlowDataReadRequest struct {
	ctx context.Context
	ApiService *IterationCumulativeFlowDataAPIService
	objectId string
	compact *bool
	fetch *string
}

// 
func (r ApiIterationCumulativeFlowDataReadRequest) Compact(compact bool) ApiIterationCumulativeFlowDataReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiIterationCumulativeFlowDataReadRequest) Fetch(fetch string) ApiIterationCumulativeFlowDataReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiIterationCumulativeFlowDataReadRequest) Execute() (*IterationCumulativeFlowDataRead200Response, *http.Response, error) {
	return r.ApiService.IterationCumulativeFlowDataReadExecute(r)
}

/*
IterationCumulativeFlowDataRead IterationCumulativeFlowData Read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiIterationCumulativeFlowDataReadRequest
*/
func (a *IterationCumulativeFlowDataAPIService) IterationCumulativeFlowDataRead(ctx context.Context, objectId string) ApiIterationCumulativeFlowDataReadRequest {
	return ApiIterationCumulativeFlowDataReadRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return IterationCumulativeFlowDataRead200Response
func (a *IterationCumulativeFlowDataAPIService) IterationCumulativeFlowDataReadExecute(r ApiIterationCumulativeFlowDataReadRequest) (*IterationCumulativeFlowDataRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IterationCumulativeFlowDataRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IterationCumulativeFlowDataAPIService.IterationCumulativeFlowDataRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/iterationcumulativeflowdata/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
