/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VSMOutcomeMetricAPIService VSMOutcomeMetricAPI service
type VSMOutcomeMetricAPIService service

type ApiVSMOutcomeMetricCreateRequest struct {
	ctx context.Context
	ApiService *VSMOutcomeMetricAPIService
	vSMOutcomeMetricMutation *VSMOutcomeMetricMutation
}

// VSMOutcomeMetric
func (r ApiVSMOutcomeMetricCreateRequest) VSMOutcomeMetricMutation(vSMOutcomeMetricMutation VSMOutcomeMetricMutation) ApiVSMOutcomeMetricCreateRequest {
	r.vSMOutcomeMetricMutation = &vSMOutcomeMetricMutation
	return r
}

func (r ApiVSMOutcomeMetricCreateRequest) Execute() (*VSMOutcomeMetricCreate200Response, *http.Response, error) {
	return r.ApiService.VSMOutcomeMetricCreateExecute(r)
}

/*
VSMOutcomeMetricCreate VSMOutcomeMetric Create

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVSMOutcomeMetricCreateRequest
*/
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricCreate(ctx context.Context) ApiVSMOutcomeMetricCreateRequest {
	return ApiVSMOutcomeMetricCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VSMOutcomeMetricCreate200Response
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricCreateExecute(r ApiVSMOutcomeMetricCreateRequest) (*VSMOutcomeMetricCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMOutcomeMetricCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMOutcomeMetricAPIService.VSMOutcomeMetricCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmoutcomemetric/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vSMOutcomeMetricMutation == nil {
		return localVarReturnValue, nil, reportError("vSMOutcomeMetricMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vSMOutcomeMetricMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMOutcomeMetricDeleteRequest struct {
	ctx context.Context
	ApiService *VSMOutcomeMetricAPIService
	objectId string
}

func (r ApiVSMOutcomeMetricDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.VSMOutcomeMetricDeleteExecute(r)
}

/*
VSMOutcomeMetricDelete VSMOutcomeMetric Delete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiVSMOutcomeMetricDeleteRequest
*/
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricDelete(ctx context.Context, objectId string) ApiVSMOutcomeMetricDeleteRequest {
	return ApiVSMOutcomeMetricDeleteRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return AllowedAttributeValueDelete200Response
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricDeleteExecute(r ApiVSMOutcomeMetricDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMOutcomeMetricAPIService.VSMOutcomeMetricDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmoutcomemetric/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMOutcomeMetricQueryRequest struct {
	ctx context.Context
	ApiService *VSMOutcomeMetricAPIService
	fetch *string
	start *int32
	pagesize *int32
	order *string
	query *string
	workspace *string
	compact *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank 
func (r ApiVSMOutcomeMetricQueryRequest) Fetch(fetch string) ApiVSMOutcomeMetricQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiVSMOutcomeMetricQueryRequest) Start(start int32) ApiVSMOutcomeMetricQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiVSMOutcomeMetricQueryRequest) Pagesize(pagesize int32) ApiVSMOutcomeMetricQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiVSMOutcomeMetricQueryRequest) Order(order string) ApiVSMOutcomeMetricQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiVSMOutcomeMetricQueryRequest) Query(query string) ApiVSMOutcomeMetricQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiVSMOutcomeMetricQueryRequest) Workspace(workspace string) ApiVSMOutcomeMetricQueryRequest {
	r.workspace = &workspace
	return r
}

// 
func (r ApiVSMOutcomeMetricQueryRequest) Compact(compact bool) ApiVSMOutcomeMetricQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiVSMOutcomeMetricQueryRequest) Execute() (*VSMOutcomeMetricQuery200Response, *http.Response, error) {
	return r.ApiService.VSMOutcomeMetricQueryExecute(r)
}

/*
VSMOutcomeMetricQuery VSMOutcomeMetric Query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVSMOutcomeMetricQueryRequest
*/
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricQuery(ctx context.Context) ApiVSMOutcomeMetricQueryRequest {
	return ApiVSMOutcomeMetricQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VSMOutcomeMetricQuery200Response
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricQueryExecute(r ApiVSMOutcomeMetricQueryRequest) (*VSMOutcomeMetricQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMOutcomeMetricQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMOutcomeMetricAPIService.VSMOutcomeMetricQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmoutcomemetric"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMOutcomeMetricReadRequest struct {
	ctx context.Context
	ApiService *VSMOutcomeMetricAPIService
	objectId string
	compact *bool
	fetch *string
}

// 
func (r ApiVSMOutcomeMetricReadRequest) Compact(compact bool) ApiVSMOutcomeMetricReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiVSMOutcomeMetricReadRequest) Fetch(fetch string) ApiVSMOutcomeMetricReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiVSMOutcomeMetricReadRequest) Execute() (*VSMOutcomeMetricRead200Response, *http.Response, error) {
	return r.ApiService.VSMOutcomeMetricReadExecute(r)
}

/*
VSMOutcomeMetricRead VSMOutcomeMetric Read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiVSMOutcomeMetricReadRequest
*/
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricRead(ctx context.Context, objectId string) ApiVSMOutcomeMetricReadRequest {
	return ApiVSMOutcomeMetricReadRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return VSMOutcomeMetricRead200Response
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricReadExecute(r ApiVSMOutcomeMetricReadRequest) (*VSMOutcomeMetricRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMOutcomeMetricRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMOutcomeMetricAPIService.VSMOutcomeMetricRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmoutcomemetric/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVSMOutcomeMetricUpdateRequest struct {
	ctx context.Context
	ApiService *VSMOutcomeMetricAPIService
	objectId string
	vSMOutcomeMetricMutation *VSMOutcomeMetricMutation
}

// VSMOutcomeMetric
func (r ApiVSMOutcomeMetricUpdateRequest) VSMOutcomeMetricMutation(vSMOutcomeMetricMutation VSMOutcomeMetricMutation) ApiVSMOutcomeMetricUpdateRequest {
	r.vSMOutcomeMetricMutation = &vSMOutcomeMetricMutation
	return r
}

func (r ApiVSMOutcomeMetricUpdateRequest) Execute() (*VSMOutcomeMetricRead200Response, *http.Response, error) {
	return r.ApiService.VSMOutcomeMetricUpdateExecute(r)
}

/*
VSMOutcomeMetricUpdate VSMOutcomeMetric Update

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiVSMOutcomeMetricUpdateRequest
*/
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricUpdate(ctx context.Context, objectId string) ApiVSMOutcomeMetricUpdateRequest {
	return ApiVSMOutcomeMetricUpdateRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return VSMOutcomeMetricRead200Response
func (a *VSMOutcomeMetricAPIService) VSMOutcomeMetricUpdateExecute(r ApiVSMOutcomeMetricUpdateRequest) (*VSMOutcomeMetricRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VSMOutcomeMetricRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VSMOutcomeMetricAPIService.VSMOutcomeMetricUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/vsmoutcomemetric/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vSMOutcomeMetricMutation == nil {
		return localVarReturnValue, nil, reportError("vSMOutcomeMetricMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vSMOutcomeMetricMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
