/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CapacityPlanAssignmentAPIService CapacityPlanAssignmentAPI service
type CapacityPlanAssignmentAPIService service

type ApiCapacityPlanAssignmentCreateRequest struct {
	ctx                            context.Context
	ApiService                     *CapacityPlanAssignmentAPIService
	capacityPlanAssignmentMutation *CapacityPlanAssignmentMutation
}

// CapacityPlanAssignment
func (r ApiCapacityPlanAssignmentCreateRequest) CapacityPlanAssignmentMutation(capacityPlanAssignmentMutation CapacityPlanAssignmentMutation) ApiCapacityPlanAssignmentCreateRequest {
	r.capacityPlanAssignmentMutation = &capacityPlanAssignmentMutation
	return r
}

func (r ApiCapacityPlanAssignmentCreateRequest) Execute() (*CapacityPlanAssignmentCreate200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanAssignmentCreateExecute(r)
}

/*
CapacityPlanAssignmentCreate CapacityPlanAssignment Create

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCapacityPlanAssignmentCreateRequest
*/
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentCreate(ctx context.Context) ApiCapacityPlanAssignmentCreateRequest {
	return ApiCapacityPlanAssignmentCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CapacityPlanAssignmentCreate200Response
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentCreateExecute(r ApiCapacityPlanAssignmentCreateRequest) (*CapacityPlanAssignmentCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanAssignmentCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanAssignmentAPIService.CapacityPlanAssignmentCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanassignment/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capacityPlanAssignmentMutation == nil {
		return localVarReturnValue, nil, reportError("capacityPlanAssignmentMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capacityPlanAssignmentMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanAssignmentDeleteRequest struct {
	ctx        context.Context
	ApiService *CapacityPlanAssignmentAPIService
	objectId   string
}

func (r ApiCapacityPlanAssignmentDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanAssignmentDeleteExecute(r)
}

/*
CapacityPlanAssignmentDelete CapacityPlanAssignment Delete

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiCapacityPlanAssignmentDeleteRequest
*/
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentDelete(ctx context.Context, objectId string) ApiCapacityPlanAssignmentDeleteRequest {
	return ApiCapacityPlanAssignmentDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return AllowedAttributeValueDelete200Response
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentDeleteExecute(r ApiCapacityPlanAssignmentDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanAssignmentAPIService.CapacityPlanAssignmentDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanassignment/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanAssignmentQueryRequest struct {
	ctx        context.Context
	ApiService *CapacityPlanAssignmentAPIService
	fetch      *string
	start      *int32
	pagesize   *int32
	order      *string
	query      *string
	workspace  *string
	compact    *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank
func (r ApiCapacityPlanAssignmentQueryRequest) Fetch(fetch string) ApiCapacityPlanAssignmentQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiCapacityPlanAssignmentQueryRequest) Start(start int32) ApiCapacityPlanAssignmentQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiCapacityPlanAssignmentQueryRequest) Pagesize(pagesize int32) ApiCapacityPlanAssignmentQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiCapacityPlanAssignmentQueryRequest) Order(order string) ApiCapacityPlanAssignmentQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiCapacityPlanAssignmentQueryRequest) Query(query string) ApiCapacityPlanAssignmentQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiCapacityPlanAssignmentQueryRequest) Workspace(workspace string) ApiCapacityPlanAssignmentQueryRequest {
	r.workspace = &workspace
	return r
}

func (r ApiCapacityPlanAssignmentQueryRequest) Compact(compact bool) ApiCapacityPlanAssignmentQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiCapacityPlanAssignmentQueryRequest) Execute() (*CapacityPlanAssignmentQuery200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanAssignmentQueryExecute(r)
}

/*
CapacityPlanAssignmentQuery CapacityPlanAssignment Query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCapacityPlanAssignmentQueryRequest
*/
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentQuery(ctx context.Context) ApiCapacityPlanAssignmentQueryRequest {
	return ApiCapacityPlanAssignmentQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CapacityPlanAssignmentQuery200Response
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentQueryExecute(r ApiCapacityPlanAssignmentQueryRequest) (*CapacityPlanAssignmentQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanAssignmentQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanAssignmentAPIService.CapacityPlanAssignmentQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanassignment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanAssignmentReadRequest struct {
	ctx        context.Context
	ApiService *CapacityPlanAssignmentAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiCapacityPlanAssignmentReadRequest) Compact(compact bool) ApiCapacityPlanAssignmentReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiCapacityPlanAssignmentReadRequest) Fetch(fetch string) ApiCapacityPlanAssignmentReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiCapacityPlanAssignmentReadRequest) Execute() (*CapacityPlanAssignmentRead200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanAssignmentReadExecute(r)
}

/*
CapacityPlanAssignmentRead CapacityPlanAssignment Read

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiCapacityPlanAssignmentReadRequest
*/
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentRead(ctx context.Context, objectId string) ApiCapacityPlanAssignmentReadRequest {
	return ApiCapacityPlanAssignmentReadRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return CapacityPlanAssignmentRead200Response
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentReadExecute(r ApiCapacityPlanAssignmentReadRequest) (*CapacityPlanAssignmentRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanAssignmentRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanAssignmentAPIService.CapacityPlanAssignmentRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanassignment/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanAssignmentUpdateRequest struct {
	ctx                            context.Context
	ApiService                     *CapacityPlanAssignmentAPIService
	objectId                       string
	capacityPlanAssignmentMutation *CapacityPlanAssignmentMutation
}

// CapacityPlanAssignment
func (r ApiCapacityPlanAssignmentUpdateRequest) CapacityPlanAssignmentMutation(capacityPlanAssignmentMutation CapacityPlanAssignmentMutation) ApiCapacityPlanAssignmentUpdateRequest {
	r.capacityPlanAssignmentMutation = &capacityPlanAssignmentMutation
	return r
}

func (r ApiCapacityPlanAssignmentUpdateRequest) Execute() (*CapacityPlanAssignmentRead200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanAssignmentUpdateExecute(r)
}

/*
CapacityPlanAssignmentUpdate CapacityPlanAssignment Update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiCapacityPlanAssignmentUpdateRequest
*/
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentUpdate(ctx context.Context, objectId string) ApiCapacityPlanAssignmentUpdateRequest {
	return ApiCapacityPlanAssignmentUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return CapacityPlanAssignmentRead200Response
func (a *CapacityPlanAssignmentAPIService) CapacityPlanAssignmentUpdateExecute(r ApiCapacityPlanAssignmentUpdateRequest) (*CapacityPlanAssignmentRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanAssignmentRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanAssignmentAPIService.CapacityPlanAssignmentUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanassignment/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capacityPlanAssignmentMutation == nil {
		return localVarReturnValue, nil, reportError("capacityPlanAssignmentMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capacityPlanAssignmentMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
