/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ScopedAttributeDefinitionAPIService ScopedAttributeDefinitionAPI service
type ScopedAttributeDefinitionAPIService service

type ApiScopedAttributeDefinitionQueryRequest struct {
	ctx        context.Context
	ApiService *ScopedAttributeDefinitionAPIService
	fetch      *string
	start      *int32
	pagesize   *int32
	order      *string
	query      *string
	workspace  *string
	compact    *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank
func (r ApiScopedAttributeDefinitionQueryRequest) Fetch(fetch string) ApiScopedAttributeDefinitionQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiScopedAttributeDefinitionQueryRequest) Start(start int32) ApiScopedAttributeDefinitionQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiScopedAttributeDefinitionQueryRequest) Pagesize(pagesize int32) ApiScopedAttributeDefinitionQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiScopedAttributeDefinitionQueryRequest) Order(order string) ApiScopedAttributeDefinitionQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiScopedAttributeDefinitionQueryRequest) Query(query string) ApiScopedAttributeDefinitionQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiScopedAttributeDefinitionQueryRequest) Workspace(workspace string) ApiScopedAttributeDefinitionQueryRequest {
	r.workspace = &workspace
	return r
}

func (r ApiScopedAttributeDefinitionQueryRequest) Compact(compact bool) ApiScopedAttributeDefinitionQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiScopedAttributeDefinitionQueryRequest) Execute() (*ScopedAttributeDefinitionQuery200Response, *http.Response, error) {
	return r.ApiService.ScopedAttributeDefinitionQueryExecute(r)
}

/*
ScopedAttributeDefinitionQuery ScopedAttributeDefinition Query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiScopedAttributeDefinitionQueryRequest
*/
func (a *ScopedAttributeDefinitionAPIService) ScopedAttributeDefinitionQuery(ctx context.Context) ApiScopedAttributeDefinitionQueryRequest {
	return ApiScopedAttributeDefinitionQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ScopedAttributeDefinitionQuery200Response
func (a *ScopedAttributeDefinitionAPIService) ScopedAttributeDefinitionQueryExecute(r ApiScopedAttributeDefinitionQueryRequest) (*ScopedAttributeDefinitionQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedAttributeDefinitionQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedAttributeDefinitionAPIService.ScopedAttributeDefinitionQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/scopedattributedefinition"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedAttributeDefinitionReadRequest struct {
	ctx        context.Context
	ApiService *ScopedAttributeDefinitionAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiScopedAttributeDefinitionReadRequest) Compact(compact bool) ApiScopedAttributeDefinitionReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiScopedAttributeDefinitionReadRequest) Fetch(fetch string) ApiScopedAttributeDefinitionReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiScopedAttributeDefinitionReadRequest) Execute() (*ScopedAttributeDefinitionRead200Response, *http.Response, error) {
	return r.ApiService.ScopedAttributeDefinitionReadExecute(r)
}

/*
ScopedAttributeDefinitionRead ScopedAttributeDefinition Read

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiScopedAttributeDefinitionReadRequest
*/
func (a *ScopedAttributeDefinitionAPIService) ScopedAttributeDefinitionRead(ctx context.Context, objectId string) ApiScopedAttributeDefinitionReadRequest {
	return ApiScopedAttributeDefinitionReadRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return ScopedAttributeDefinitionRead200Response
func (a *ScopedAttributeDefinitionAPIService) ScopedAttributeDefinitionReadExecute(r ApiScopedAttributeDefinitionReadRequest) (*ScopedAttributeDefinitionRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedAttributeDefinitionRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedAttributeDefinitionAPIService.ScopedAttributeDefinitionRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/scopedattributedefinition/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedAttributeDefinitionUpdateRequest struct {
	ctx                               context.Context
	ApiService                        *ScopedAttributeDefinitionAPIService
	objectId                          string
	scopedAttributeDefinitionMutation *ScopedAttributeDefinitionMutation
}

// ScopedAttributeDefinition
func (r ApiScopedAttributeDefinitionUpdateRequest) ScopedAttributeDefinitionMutation(scopedAttributeDefinitionMutation ScopedAttributeDefinitionMutation) ApiScopedAttributeDefinitionUpdateRequest {
	r.scopedAttributeDefinitionMutation = &scopedAttributeDefinitionMutation
	return r
}

func (r ApiScopedAttributeDefinitionUpdateRequest) Execute() (*ScopedAttributeDefinitionRead200Response, *http.Response, error) {
	return r.ApiService.ScopedAttributeDefinitionUpdateExecute(r)
}

/*
ScopedAttributeDefinitionUpdate ScopedAttributeDefinition Update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiScopedAttributeDefinitionUpdateRequest
*/
func (a *ScopedAttributeDefinitionAPIService) ScopedAttributeDefinitionUpdate(ctx context.Context, objectId string) ApiScopedAttributeDefinitionUpdateRequest {
	return ApiScopedAttributeDefinitionUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return ScopedAttributeDefinitionRead200Response
func (a *ScopedAttributeDefinitionAPIService) ScopedAttributeDefinitionUpdateExecute(r ApiScopedAttributeDefinitionUpdateRequest) (*ScopedAttributeDefinitionRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedAttributeDefinitionRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedAttributeDefinitionAPIService.ScopedAttributeDefinitionUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/scopedattributedefinition/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scopedAttributeDefinitionMutation == nil {
		return localVarReturnValue, nil, reportError("scopedAttributeDefinitionMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scopedAttributeDefinitionMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
