/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CapacityPlanItemAPIService CapacityPlanItemAPI service
type CapacityPlanItemAPIService service

type ApiCapacityPlanItemCreateRequest struct {
	ctx                      context.Context
	ApiService               *CapacityPlanItemAPIService
	capacityPlanItemMutation *CapacityPlanItemMutation
}

// CapacityPlanItem
func (r ApiCapacityPlanItemCreateRequest) CapacityPlanItemMutation(capacityPlanItemMutation CapacityPlanItemMutation) ApiCapacityPlanItemCreateRequest {
	r.capacityPlanItemMutation = &capacityPlanItemMutation
	return r
}

func (r ApiCapacityPlanItemCreateRequest) Execute() (*CapacityPlanItemCreate200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanItemCreateExecute(r)
}

/*
CapacityPlanItemCreate CapacityPlanItem Create

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCapacityPlanItemCreateRequest
*/
func (a *CapacityPlanItemAPIService) CapacityPlanItemCreate(ctx context.Context) ApiCapacityPlanItemCreateRequest {
	return ApiCapacityPlanItemCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CapacityPlanItemCreate200Response
func (a *CapacityPlanItemAPIService) CapacityPlanItemCreateExecute(r ApiCapacityPlanItemCreateRequest) (*CapacityPlanItemCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanItemCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanItemAPIService.CapacityPlanItemCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanitem/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capacityPlanItemMutation == nil {
		return localVarReturnValue, nil, reportError("capacityPlanItemMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capacityPlanItemMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanItemDeleteRequest struct {
	ctx        context.Context
	ApiService *CapacityPlanItemAPIService
	objectId   string
}

func (r ApiCapacityPlanItemDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanItemDeleteExecute(r)
}

/*
CapacityPlanItemDelete CapacityPlanItem Delete

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiCapacityPlanItemDeleteRequest
*/
func (a *CapacityPlanItemAPIService) CapacityPlanItemDelete(ctx context.Context, objectId string) ApiCapacityPlanItemDeleteRequest {
	return ApiCapacityPlanItemDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return AllowedAttributeValueDelete200Response
func (a *CapacityPlanItemAPIService) CapacityPlanItemDeleteExecute(r ApiCapacityPlanItemDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanItemAPIService.CapacityPlanItemDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanitem/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanItemQueryRequest struct {
	ctx        context.Context
	ApiService *CapacityPlanItemAPIService
	fetch      *string
	start      *int32
	pagesize   *int32
	order      *string
	query      *string
	workspace  *string
	compact    *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank
func (r ApiCapacityPlanItemQueryRequest) Fetch(fetch string) ApiCapacityPlanItemQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiCapacityPlanItemQueryRequest) Start(start int32) ApiCapacityPlanItemQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiCapacityPlanItemQueryRequest) Pagesize(pagesize int32) ApiCapacityPlanItemQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiCapacityPlanItemQueryRequest) Order(order string) ApiCapacityPlanItemQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiCapacityPlanItemQueryRequest) Query(query string) ApiCapacityPlanItemQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiCapacityPlanItemQueryRequest) Workspace(workspace string) ApiCapacityPlanItemQueryRequest {
	r.workspace = &workspace
	return r
}

func (r ApiCapacityPlanItemQueryRequest) Compact(compact bool) ApiCapacityPlanItemQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiCapacityPlanItemQueryRequest) Execute() (*CapacityPlanItemQuery200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanItemQueryExecute(r)
}

/*
CapacityPlanItemQuery CapacityPlanItem Query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCapacityPlanItemQueryRequest
*/
func (a *CapacityPlanItemAPIService) CapacityPlanItemQuery(ctx context.Context) ApiCapacityPlanItemQueryRequest {
	return ApiCapacityPlanItemQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CapacityPlanItemQuery200Response
func (a *CapacityPlanItemAPIService) CapacityPlanItemQueryExecute(r ApiCapacityPlanItemQueryRequest) (*CapacityPlanItemQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanItemQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanItemAPIService.CapacityPlanItemQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanitem"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanItemReadRequest struct {
	ctx        context.Context
	ApiService *CapacityPlanItemAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiCapacityPlanItemReadRequest) Compact(compact bool) ApiCapacityPlanItemReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiCapacityPlanItemReadRequest) Fetch(fetch string) ApiCapacityPlanItemReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiCapacityPlanItemReadRequest) Execute() (*CapacityPlanItemRead200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanItemReadExecute(r)
}

/*
CapacityPlanItemRead CapacityPlanItem Read

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiCapacityPlanItemReadRequest
*/
func (a *CapacityPlanItemAPIService) CapacityPlanItemRead(ctx context.Context, objectId string) ApiCapacityPlanItemReadRequest {
	return ApiCapacityPlanItemReadRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return CapacityPlanItemRead200Response
func (a *CapacityPlanItemAPIService) CapacityPlanItemReadExecute(r ApiCapacityPlanItemReadRequest) (*CapacityPlanItemRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanItemRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanItemAPIService.CapacityPlanItemRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanitem/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCapacityPlanItemUpdateRequest struct {
	ctx                      context.Context
	ApiService               *CapacityPlanItemAPIService
	objectId                 string
	capacityPlanItemMutation *CapacityPlanItemMutation
}

// CapacityPlanItem
func (r ApiCapacityPlanItemUpdateRequest) CapacityPlanItemMutation(capacityPlanItemMutation CapacityPlanItemMutation) ApiCapacityPlanItemUpdateRequest {
	r.capacityPlanItemMutation = &capacityPlanItemMutation
	return r
}

func (r ApiCapacityPlanItemUpdateRequest) Execute() (*CapacityPlanItemRead200Response, *http.Response, error) {
	return r.ApiService.CapacityPlanItemUpdateExecute(r)
}

/*
CapacityPlanItemUpdate CapacityPlanItem Update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiCapacityPlanItemUpdateRequest
*/
func (a *CapacityPlanItemAPIService) CapacityPlanItemUpdate(ctx context.Context, objectId string) ApiCapacityPlanItemUpdateRequest {
	return ApiCapacityPlanItemUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return CapacityPlanItemRead200Response
func (a *CapacityPlanItemAPIService) CapacityPlanItemUpdateExecute(r ApiCapacityPlanItemUpdateRequest) (*CapacityPlanItemRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapacityPlanItemRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityPlanItemAPIService.CapacityPlanItemUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/capacityplanitem/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capacityPlanItemMutation == nil {
		return localVarReturnValue, nil, reportError("capacityPlanItemMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capacityPlanItemMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
