/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WorkingCapacityPlanAPIService WorkingCapacityPlanAPI service
type WorkingCapacityPlanAPIService service

type ApiWorkingCapacityPlanCopyRequest struct {
	ctx context.Context
	ApiService *WorkingCapacityPlanAPIService
	objectId string
	compact *bool
	fetch *string
}

// 
func (r ApiWorkingCapacityPlanCopyRequest) Compact(compact bool) ApiWorkingCapacityPlanCopyRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiWorkingCapacityPlanCopyRequest) Fetch(fetch string) ApiWorkingCapacityPlanCopyRequest {
	r.fetch = &fetch
	return r
}

func (r ApiWorkingCapacityPlanCopyRequest) Execute() (*WorkingCapacityPlanRead200Response, *http.Response, error) {
	return r.ApiService.WorkingCapacityPlanCopyExecute(r)
}

/*
WorkingCapacityPlanCopy WorkingCapacityPlan Copy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiWorkingCapacityPlanCopyRequest
*/
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanCopy(ctx context.Context, objectId string) ApiWorkingCapacityPlanCopyRequest {
	return ApiWorkingCapacityPlanCopyRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return WorkingCapacityPlanRead200Response
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanCopyExecute(r ApiWorkingCapacityPlanCopyRequest) (*WorkingCapacityPlanRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkingCapacityPlanRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkingCapacityPlanAPIService.WorkingCapacityPlanCopy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/workingcapacityplan/{objectId}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkingCapacityPlanCreateRequest struct {
	ctx context.Context
	ApiService *WorkingCapacityPlanAPIService
	workingCapacityPlanMutation *WorkingCapacityPlanMutation
}

// WorkingCapacityPlan
func (r ApiWorkingCapacityPlanCreateRequest) WorkingCapacityPlanMutation(workingCapacityPlanMutation WorkingCapacityPlanMutation) ApiWorkingCapacityPlanCreateRequest {
	r.workingCapacityPlanMutation = &workingCapacityPlanMutation
	return r
}

func (r ApiWorkingCapacityPlanCreateRequest) Execute() (*WorkingCapacityPlanCreate200Response, *http.Response, error) {
	return r.ApiService.WorkingCapacityPlanCreateExecute(r)
}

/*
WorkingCapacityPlanCreate WorkingCapacityPlan Create

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWorkingCapacityPlanCreateRequest
*/
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanCreate(ctx context.Context) ApiWorkingCapacityPlanCreateRequest {
	return ApiWorkingCapacityPlanCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WorkingCapacityPlanCreate200Response
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanCreateExecute(r ApiWorkingCapacityPlanCreateRequest) (*WorkingCapacityPlanCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkingCapacityPlanCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkingCapacityPlanAPIService.WorkingCapacityPlanCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/workingcapacityplan/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workingCapacityPlanMutation == nil {
		return localVarReturnValue, nil, reportError("workingCapacityPlanMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workingCapacityPlanMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkingCapacityPlanDeleteRequest struct {
	ctx context.Context
	ApiService *WorkingCapacityPlanAPIService
	objectId string
}

func (r ApiWorkingCapacityPlanDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.WorkingCapacityPlanDeleteExecute(r)
}

/*
WorkingCapacityPlanDelete WorkingCapacityPlan Delete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiWorkingCapacityPlanDeleteRequest
*/
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanDelete(ctx context.Context, objectId string) ApiWorkingCapacityPlanDeleteRequest {
	return ApiWorkingCapacityPlanDeleteRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return AllowedAttributeValueDelete200Response
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanDeleteExecute(r ApiWorkingCapacityPlanDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkingCapacityPlanAPIService.WorkingCapacityPlanDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/workingcapacityplan/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkingCapacityPlanQueryRequest struct {
	ctx context.Context
	ApiService *WorkingCapacityPlanAPIService
	fetch *string
	start *int32
	pagesize *int32
	order *string
	query *string
	workspace *string
	compact *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank 
func (r ApiWorkingCapacityPlanQueryRequest) Fetch(fetch string) ApiWorkingCapacityPlanQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiWorkingCapacityPlanQueryRequest) Start(start int32) ApiWorkingCapacityPlanQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiWorkingCapacityPlanQueryRequest) Pagesize(pagesize int32) ApiWorkingCapacityPlanQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiWorkingCapacityPlanQueryRequest) Order(order string) ApiWorkingCapacityPlanQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiWorkingCapacityPlanQueryRequest) Query(query string) ApiWorkingCapacityPlanQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiWorkingCapacityPlanQueryRequest) Workspace(workspace string) ApiWorkingCapacityPlanQueryRequest {
	r.workspace = &workspace
	return r
}

// 
func (r ApiWorkingCapacityPlanQueryRequest) Compact(compact bool) ApiWorkingCapacityPlanQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiWorkingCapacityPlanQueryRequest) Execute() (*WorkingCapacityPlanQuery200Response, *http.Response, error) {
	return r.ApiService.WorkingCapacityPlanQueryExecute(r)
}

/*
WorkingCapacityPlanQuery WorkingCapacityPlan Query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWorkingCapacityPlanQueryRequest
*/
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanQuery(ctx context.Context) ApiWorkingCapacityPlanQueryRequest {
	return ApiWorkingCapacityPlanQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return WorkingCapacityPlanQuery200Response
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanQueryExecute(r ApiWorkingCapacityPlanQueryRequest) (*WorkingCapacityPlanQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkingCapacityPlanQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkingCapacityPlanAPIService.WorkingCapacityPlanQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/workingcapacityplan"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkingCapacityPlanReadRequest struct {
	ctx context.Context
	ApiService *WorkingCapacityPlanAPIService
	objectId string
	compact *bool
	fetch *string
}

// 
func (r ApiWorkingCapacityPlanReadRequest) Compact(compact bool) ApiWorkingCapacityPlanReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiWorkingCapacityPlanReadRequest) Fetch(fetch string) ApiWorkingCapacityPlanReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiWorkingCapacityPlanReadRequest) Execute() (*WorkingCapacityPlanRead200Response, *http.Response, error) {
	return r.ApiService.WorkingCapacityPlanReadExecute(r)
}

/*
WorkingCapacityPlanRead WorkingCapacityPlan Read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiWorkingCapacityPlanReadRequest
*/
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanRead(ctx context.Context, objectId string) ApiWorkingCapacityPlanReadRequest {
	return ApiWorkingCapacityPlanReadRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return WorkingCapacityPlanRead200Response
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanReadExecute(r ApiWorkingCapacityPlanReadRequest) (*WorkingCapacityPlanRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkingCapacityPlanRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkingCapacityPlanAPIService.WorkingCapacityPlanRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/workingcapacityplan/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkingCapacityPlanUpdateRequest struct {
	ctx context.Context
	ApiService *WorkingCapacityPlanAPIService
	objectId string
	workingCapacityPlanMutation *WorkingCapacityPlanMutation
}

// WorkingCapacityPlan
func (r ApiWorkingCapacityPlanUpdateRequest) WorkingCapacityPlanMutation(workingCapacityPlanMutation WorkingCapacityPlanMutation) ApiWorkingCapacityPlanUpdateRequest {
	r.workingCapacityPlanMutation = &workingCapacityPlanMutation
	return r
}

func (r ApiWorkingCapacityPlanUpdateRequest) Execute() (*WorkingCapacityPlanRead200Response, *http.Response, error) {
	return r.ApiService.WorkingCapacityPlanUpdateExecute(r)
}

/*
WorkingCapacityPlanUpdate WorkingCapacityPlan Update

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiWorkingCapacityPlanUpdateRequest
*/
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanUpdate(ctx context.Context, objectId string) ApiWorkingCapacityPlanUpdateRequest {
	return ApiWorkingCapacityPlanUpdateRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return WorkingCapacityPlanRead200Response
func (a *WorkingCapacityPlanAPIService) WorkingCapacityPlanUpdateExecute(r ApiWorkingCapacityPlanUpdateRequest) (*WorkingCapacityPlanRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkingCapacityPlanRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkingCapacityPlanAPIService.WorkingCapacityPlanUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/workingcapacityplan/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workingCapacityPlanMutation == nil {
		return localVarReturnValue, nil, reportError("workingCapacityPlanMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workingCapacityPlanMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
