/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// PortfolioItemPredecessorRelationshipAPIService PortfolioItemPredecessorRelationshipAPI service
type PortfolioItemPredecessorRelationshipAPIService service

type ApiPortfolioItemPredecessorRelationshipDeleteRequest struct {
	ctx        context.Context
	ApiService *PortfolioItemPredecessorRelationshipAPIService
	objectId   string
}

func (r ApiPortfolioItemPredecessorRelationshipDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.PortfolioItemPredecessorRelationshipDeleteExecute(r)
}

/*
PortfolioItemPredecessorRelationshipDelete PortfolioItemPredecessorRelationship Delete

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiPortfolioItemPredecessorRelationshipDeleteRequest
*/
func (a *PortfolioItemPredecessorRelationshipAPIService) PortfolioItemPredecessorRelationshipDelete(ctx context.Context, objectId string) ApiPortfolioItemPredecessorRelationshipDeleteRequest {
	return ApiPortfolioItemPredecessorRelationshipDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return AllowedAttributeValueDelete200Response
func (a *PortfolioItemPredecessorRelationshipAPIService) PortfolioItemPredecessorRelationshipDeleteExecute(r ApiPortfolioItemPredecessorRelationshipDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortfolioItemPredecessorRelationshipAPIService.PortfolioItemPredecessorRelationshipDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/portfolioitempredecessorrelationship/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPortfolioItemPredecessorRelationshipQueryRequest struct {
	ctx        context.Context
	ApiService *PortfolioItemPredecessorRelationshipAPIService
	fetch      *string
	start      *int32
	pagesize   *int32
	order      *string
	query      *string
	workspace  *string
	compact    *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank
func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Fetch(fetch string) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Start(start int32) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Pagesize(pagesize int32) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Order(order string) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Query(query string) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Workspace(workspace string) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	r.workspace = &workspace
	return r
}

func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Compact(compact bool) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiPortfolioItemPredecessorRelationshipQueryRequest) Execute() (*PortfolioItemPredecessorRelationshipQuery200Response, *http.Response, error) {
	return r.ApiService.PortfolioItemPredecessorRelationshipQueryExecute(r)
}

/*
PortfolioItemPredecessorRelationshipQuery PortfolioItemPredecessorRelationship Query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPortfolioItemPredecessorRelationshipQueryRequest
*/
func (a *PortfolioItemPredecessorRelationshipAPIService) PortfolioItemPredecessorRelationshipQuery(ctx context.Context) ApiPortfolioItemPredecessorRelationshipQueryRequest {
	return ApiPortfolioItemPredecessorRelationshipQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PortfolioItemPredecessorRelationshipQuery200Response
func (a *PortfolioItemPredecessorRelationshipAPIService) PortfolioItemPredecessorRelationshipQueryExecute(r ApiPortfolioItemPredecessorRelationshipQueryRequest) (*PortfolioItemPredecessorRelationshipQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PortfolioItemPredecessorRelationshipQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortfolioItemPredecessorRelationshipAPIService.PortfolioItemPredecessorRelationshipQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/portfolioitempredecessorrelationship"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPortfolioItemPredecessorRelationshipReadRequest struct {
	ctx        context.Context
	ApiService *PortfolioItemPredecessorRelationshipAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiPortfolioItemPredecessorRelationshipReadRequest) Compact(compact bool) ApiPortfolioItemPredecessorRelationshipReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiPortfolioItemPredecessorRelationshipReadRequest) Fetch(fetch string) ApiPortfolioItemPredecessorRelationshipReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiPortfolioItemPredecessorRelationshipReadRequest) Execute() (*PortfolioItemPredecessorRelationshipRead200Response, *http.Response, error) {
	return r.ApiService.PortfolioItemPredecessorRelationshipReadExecute(r)
}

/*
PortfolioItemPredecessorRelationshipRead PortfolioItemPredecessorRelationship Read

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiPortfolioItemPredecessorRelationshipReadRequest
*/
func (a *PortfolioItemPredecessorRelationshipAPIService) PortfolioItemPredecessorRelationshipRead(ctx context.Context, objectId string) ApiPortfolioItemPredecessorRelationshipReadRequest {
	return ApiPortfolioItemPredecessorRelationshipReadRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return PortfolioItemPredecessorRelationshipRead200Response
func (a *PortfolioItemPredecessorRelationshipAPIService) PortfolioItemPredecessorRelationshipReadExecute(r ApiPortfolioItemPredecessorRelationshipReadRequest) (*PortfolioItemPredecessorRelationshipRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PortfolioItemPredecessorRelationshipRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PortfolioItemPredecessorRelationshipAPIService.PortfolioItemPredecessorRelationshipRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/portfolioitempredecessorrelationship/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
