/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// BusinessInitiativeAPIService BusinessInitiativeAPI service
type BusinessInitiativeAPIService service

type ApiBusinessInitiativeCopyRequest struct {
	ctx        context.Context
	ApiService *BusinessInitiativeAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiBusinessInitiativeCopyRequest) Compact(compact bool) ApiBusinessInitiativeCopyRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiBusinessInitiativeCopyRequest) Fetch(fetch string) ApiBusinessInitiativeCopyRequest {
	r.fetch = &fetch
	return r
}

func (r ApiBusinessInitiativeCopyRequest) Execute() (*BusinessInitiativeRead200Response, *http.Response, error) {
	return r.ApiService.BusinessInitiativeCopyExecute(r)
}

/*
BusinessInitiativeCopy BusinessInitiative Copy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiBusinessInitiativeCopyRequest
*/
func (a *BusinessInitiativeAPIService) BusinessInitiativeCopy(ctx context.Context, objectId string) ApiBusinessInitiativeCopyRequest {
	return ApiBusinessInitiativeCopyRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return BusinessInitiativeRead200Response
func (a *BusinessInitiativeAPIService) BusinessInitiativeCopyExecute(r ApiBusinessInitiativeCopyRequest) (*BusinessInitiativeRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusinessInitiativeRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BusinessInitiativeAPIService.BusinessInitiativeCopy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/businessinitiative/{objectId}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBusinessInitiativeCreateRequest struct {
	ctx                        context.Context
	ApiService                 *BusinessInitiativeAPIService
	businessInitiativeMutation *BusinessInitiativeMutation
}

// BusinessInitiative
func (r ApiBusinessInitiativeCreateRequest) BusinessInitiativeMutation(businessInitiativeMutation BusinessInitiativeMutation) ApiBusinessInitiativeCreateRequest {
	r.businessInitiativeMutation = &businessInitiativeMutation
	return r
}

func (r ApiBusinessInitiativeCreateRequest) Execute() (*BusinessInitiativeCreate200Response, *http.Response, error) {
	return r.ApiService.BusinessInitiativeCreateExecute(r)
}

/*
BusinessInitiativeCreate BusinessInitiative Create

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiBusinessInitiativeCreateRequest
*/
func (a *BusinessInitiativeAPIService) BusinessInitiativeCreate(ctx context.Context) ApiBusinessInitiativeCreateRequest {
	return ApiBusinessInitiativeCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BusinessInitiativeCreate200Response
func (a *BusinessInitiativeAPIService) BusinessInitiativeCreateExecute(r ApiBusinessInitiativeCreateRequest) (*BusinessInitiativeCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusinessInitiativeCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BusinessInitiativeAPIService.BusinessInitiativeCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/businessinitiative/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.businessInitiativeMutation == nil {
		return localVarReturnValue, nil, reportError("businessInitiativeMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.businessInitiativeMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBusinessInitiativeDeleteRequest struct {
	ctx        context.Context
	ApiService *BusinessInitiativeAPIService
	objectId   string
}

func (r ApiBusinessInitiativeDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.BusinessInitiativeDeleteExecute(r)
}

/*
BusinessInitiativeDelete BusinessInitiative Delete

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiBusinessInitiativeDeleteRequest
*/
func (a *BusinessInitiativeAPIService) BusinessInitiativeDelete(ctx context.Context, objectId string) ApiBusinessInitiativeDeleteRequest {
	return ApiBusinessInitiativeDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return AllowedAttributeValueDelete200Response
func (a *BusinessInitiativeAPIService) BusinessInitiativeDeleteExecute(r ApiBusinessInitiativeDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BusinessInitiativeAPIService.BusinessInitiativeDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/businessinitiative/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBusinessInitiativeQueryRequest struct {
	ctx        context.Context
	ApiService *BusinessInitiativeAPIService
	fetch      *string
	start      *int32
	pagesize   *int32
	order      *string
	query      *string
	workspace  *string
	compact    *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank
func (r ApiBusinessInitiativeQueryRequest) Fetch(fetch string) ApiBusinessInitiativeQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiBusinessInitiativeQueryRequest) Start(start int32) ApiBusinessInitiativeQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiBusinessInitiativeQueryRequest) Pagesize(pagesize int32) ApiBusinessInitiativeQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiBusinessInitiativeQueryRequest) Order(order string) ApiBusinessInitiativeQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiBusinessInitiativeQueryRequest) Query(query string) ApiBusinessInitiativeQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiBusinessInitiativeQueryRequest) Workspace(workspace string) ApiBusinessInitiativeQueryRequest {
	r.workspace = &workspace
	return r
}

func (r ApiBusinessInitiativeQueryRequest) Compact(compact bool) ApiBusinessInitiativeQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiBusinessInitiativeQueryRequest) Execute() (*BusinessInitiativeQuery200Response, *http.Response, error) {
	return r.ApiService.BusinessInitiativeQueryExecute(r)
}

/*
BusinessInitiativeQuery BusinessInitiative Query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiBusinessInitiativeQueryRequest
*/
func (a *BusinessInitiativeAPIService) BusinessInitiativeQuery(ctx context.Context) ApiBusinessInitiativeQueryRequest {
	return ApiBusinessInitiativeQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BusinessInitiativeQuery200Response
func (a *BusinessInitiativeAPIService) BusinessInitiativeQueryExecute(r ApiBusinessInitiativeQueryRequest) (*BusinessInitiativeQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusinessInitiativeQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BusinessInitiativeAPIService.BusinessInitiativeQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/businessinitiative"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBusinessInitiativeReadRequest struct {
	ctx        context.Context
	ApiService *BusinessInitiativeAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiBusinessInitiativeReadRequest) Compact(compact bool) ApiBusinessInitiativeReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiBusinessInitiativeReadRequest) Fetch(fetch string) ApiBusinessInitiativeReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiBusinessInitiativeReadRequest) Execute() (*BusinessInitiativeRead200Response, *http.Response, error) {
	return r.ApiService.BusinessInitiativeReadExecute(r)
}

/*
BusinessInitiativeRead BusinessInitiative Read

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiBusinessInitiativeReadRequest
*/
func (a *BusinessInitiativeAPIService) BusinessInitiativeRead(ctx context.Context, objectId string) ApiBusinessInitiativeReadRequest {
	return ApiBusinessInitiativeReadRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return BusinessInitiativeRead200Response
func (a *BusinessInitiativeAPIService) BusinessInitiativeReadExecute(r ApiBusinessInitiativeReadRequest) (*BusinessInitiativeRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusinessInitiativeRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BusinessInitiativeAPIService.BusinessInitiativeRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/businessinitiative/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBusinessInitiativeUpdateRequest struct {
	ctx                        context.Context
	ApiService                 *BusinessInitiativeAPIService
	objectId                   string
	businessInitiativeMutation *BusinessInitiativeMutation
}

// BusinessInitiative
func (r ApiBusinessInitiativeUpdateRequest) BusinessInitiativeMutation(businessInitiativeMutation BusinessInitiativeMutation) ApiBusinessInitiativeUpdateRequest {
	r.businessInitiativeMutation = &businessInitiativeMutation
	return r
}

func (r ApiBusinessInitiativeUpdateRequest) Execute() (*BusinessInitiativeRead200Response, *http.Response, error) {
	return r.ApiService.BusinessInitiativeUpdateExecute(r)
}

/*
BusinessInitiativeUpdate BusinessInitiative Update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiBusinessInitiativeUpdateRequest
*/
func (a *BusinessInitiativeAPIService) BusinessInitiativeUpdate(ctx context.Context, objectId string) ApiBusinessInitiativeUpdateRequest {
	return ApiBusinessInitiativeUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return BusinessInitiativeRead200Response
func (a *BusinessInitiativeAPIService) BusinessInitiativeUpdateExecute(r ApiBusinessInitiativeUpdateRequest) (*BusinessInitiativeRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BusinessInitiativeRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BusinessInitiativeAPIService.BusinessInitiativeUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/businessinitiative/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.businessInitiativeMutation == nil {
		return localVarReturnValue, nil, reportError("businessInitiativeMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.businessInitiativeMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
