/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// KeyResultInterimTargetAPIService KeyResultInterimTargetAPI service
type KeyResultInterimTargetAPIService service

type ApiKeyResultInterimTargetQueryRequest struct {
	ctx context.Context
	ApiService *KeyResultInterimTargetAPIService
	fetch *string
	start *int32
	pagesize *int32
	order *string
	query *string
	workspace *string
	compact *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank 
func (r ApiKeyResultInterimTargetQueryRequest) Fetch(fetch string) ApiKeyResultInterimTargetQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiKeyResultInterimTargetQueryRequest) Start(start int32) ApiKeyResultInterimTargetQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiKeyResultInterimTargetQueryRequest) Pagesize(pagesize int32) ApiKeyResultInterimTargetQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiKeyResultInterimTargetQueryRequest) Order(order string) ApiKeyResultInterimTargetQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiKeyResultInterimTargetQueryRequest) Query(query string) ApiKeyResultInterimTargetQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiKeyResultInterimTargetQueryRequest) Workspace(workspace string) ApiKeyResultInterimTargetQueryRequest {
	r.workspace = &workspace
	return r
}

// 
func (r ApiKeyResultInterimTargetQueryRequest) Compact(compact bool) ApiKeyResultInterimTargetQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiKeyResultInterimTargetQueryRequest) Execute() (*KeyResultInterimTargetQuery200Response, *http.Response, error) {
	return r.ApiService.KeyResultInterimTargetQueryExecute(r)
}

/*
KeyResultInterimTargetQuery KeyResultInterimTarget Query

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiKeyResultInterimTargetQueryRequest
*/
func (a *KeyResultInterimTargetAPIService) KeyResultInterimTargetQuery(ctx context.Context) ApiKeyResultInterimTargetQueryRequest {
	return ApiKeyResultInterimTargetQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return KeyResultInterimTargetQuery200Response
func (a *KeyResultInterimTargetAPIService) KeyResultInterimTargetQueryExecute(r ApiKeyResultInterimTargetQueryRequest) (*KeyResultInterimTargetQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *KeyResultInterimTargetQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KeyResultInterimTargetAPIService.KeyResultInterimTargetQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/keyresultinterimtarget"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiKeyResultInterimTargetReadRequest struct {
	ctx context.Context
	ApiService *KeyResultInterimTargetAPIService
	objectId string
	compact *bool
	fetch *string
}

// 
func (r ApiKeyResultInterimTargetReadRequest) Compact(compact bool) ApiKeyResultInterimTargetReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiKeyResultInterimTargetReadRequest) Fetch(fetch string) ApiKeyResultInterimTargetReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiKeyResultInterimTargetReadRequest) Execute() (*KeyResultInterimTargetRead200Response, *http.Response, error) {
	return r.ApiService.KeyResultInterimTargetReadExecute(r)
}

/*
KeyResultInterimTargetRead KeyResultInterimTarget Read

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiKeyResultInterimTargetReadRequest
*/
func (a *KeyResultInterimTargetAPIService) KeyResultInterimTargetRead(ctx context.Context, objectId string) ApiKeyResultInterimTargetReadRequest {
	return ApiKeyResultInterimTargetReadRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return KeyResultInterimTargetRead200Response
func (a *KeyResultInterimTargetAPIService) KeyResultInterimTargetReadExecute(r ApiKeyResultInterimTargetReadRequest) (*KeyResultInterimTargetRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *KeyResultInterimTargetRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KeyResultInterimTargetAPIService.KeyResultInterimTargetRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/keyresultinterimtarget/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "compact", defaultValue, "form", "")
        r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiKeyResultInterimTargetUpdateRequest struct {
	ctx context.Context
	ApiService *KeyResultInterimTargetAPIService
	objectId string
	keyResultInterimTargetMutation *KeyResultInterimTargetMutation
}

// KeyResultInterimTarget
func (r ApiKeyResultInterimTargetUpdateRequest) KeyResultInterimTargetMutation(keyResultInterimTargetMutation KeyResultInterimTargetMutation) ApiKeyResultInterimTargetUpdateRequest {
	r.keyResultInterimTargetMutation = &keyResultInterimTargetMutation
	return r
}

func (r ApiKeyResultInterimTargetUpdateRequest) Execute() (*KeyResultInterimTargetRead200Response, *http.Response, error) {
	return r.ApiService.KeyResultInterimTargetUpdateExecute(r)
}

/*
KeyResultInterimTargetUpdate KeyResultInterimTarget Update

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param objectId objectId
 @return ApiKeyResultInterimTargetUpdateRequest
*/
func (a *KeyResultInterimTargetAPIService) KeyResultInterimTargetUpdate(ctx context.Context, objectId string) ApiKeyResultInterimTargetUpdateRequest {
	return ApiKeyResultInterimTargetUpdateRequest{
		ApiService: a,
		ctx: ctx,
		objectId: objectId,
	}
}

// Execute executes the request
//  @return KeyResultInterimTargetRead200Response
func (a *KeyResultInterimTargetAPIService) KeyResultInterimTargetUpdateExecute(r ApiKeyResultInterimTargetUpdateRequest) (*KeyResultInterimTargetRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *KeyResultInterimTargetRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KeyResultInterimTargetAPIService.KeyResultInterimTargetUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/keyresultinterimtarget/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.keyResultInterimTargetMutation == nil {
		return localVarReturnValue, nil, reportError("keyResultInterimTargetMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.keyResultInterimTargetMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
