/*
Rally WebService API

Rally Open API docs

API version: v2.0
Contact: support@rallydev.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// HierarchicalRequirementAPIService HierarchicalRequirementAPI service
type HierarchicalRequirementAPIService service

type ApiHierarchicalRequirementCopyRequest struct {
	ctx        context.Context
	ApiService *HierarchicalRequirementAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiHierarchicalRequirementCopyRequest) Compact(compact bool) ApiHierarchicalRequirementCopyRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiHierarchicalRequirementCopyRequest) Fetch(fetch string) ApiHierarchicalRequirementCopyRequest {
	r.fetch = &fetch
	return r
}

func (r ApiHierarchicalRequirementCopyRequest) Execute() (*HierarchicalRequirementRead200Response, *http.Response, error) {
	return r.ApiService.HierarchicalRequirementCopyExecute(r)
}

/*
HierarchicalRequirementCopy HierarchicalRequirement Copy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiHierarchicalRequirementCopyRequest
*/
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementCopy(ctx context.Context, objectId string) ApiHierarchicalRequirementCopyRequest {
	return ApiHierarchicalRequirementCopyRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return HierarchicalRequirementRead200Response
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementCopyExecute(r ApiHierarchicalRequirementCopyRequest) (*HierarchicalRequirementRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HierarchicalRequirementRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HierarchicalRequirementAPIService.HierarchicalRequirementCopy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/hierarchicalrequirement/{objectId}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHierarchicalRequirementCreateRequest struct {
	ctx                             context.Context
	ApiService                      *HierarchicalRequirementAPIService
	hierarchicalRequirementMutation *HierarchicalRequirementMutation
}

// HierarchicalRequirement
func (r ApiHierarchicalRequirementCreateRequest) HierarchicalRequirementMutation(hierarchicalRequirementMutation HierarchicalRequirementMutation) ApiHierarchicalRequirementCreateRequest {
	r.hierarchicalRequirementMutation = &hierarchicalRequirementMutation
	return r
}

func (r ApiHierarchicalRequirementCreateRequest) Execute() (*HierarchicalRequirementCreate200Response, *http.Response, error) {
	return r.ApiService.HierarchicalRequirementCreateExecute(r)
}

/*
HierarchicalRequirementCreate HierarchicalRequirement Create

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHierarchicalRequirementCreateRequest
*/
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementCreate(ctx context.Context) ApiHierarchicalRequirementCreateRequest {
	return ApiHierarchicalRequirementCreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HierarchicalRequirementCreate200Response
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementCreateExecute(r ApiHierarchicalRequirementCreateRequest) (*HierarchicalRequirementCreate200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HierarchicalRequirementCreate200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HierarchicalRequirementAPIService.HierarchicalRequirementCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/hierarchicalrequirement/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hierarchicalRequirementMutation == nil {
		return localVarReturnValue, nil, reportError("hierarchicalRequirementMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.hierarchicalRequirementMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHierarchicalRequirementDeleteRequest struct {
	ctx        context.Context
	ApiService *HierarchicalRequirementAPIService
	objectId   string
}

func (r ApiHierarchicalRequirementDeleteRequest) Execute() (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	return r.ApiService.HierarchicalRequirementDeleteExecute(r)
}

/*
HierarchicalRequirementDelete HierarchicalRequirement Delete

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiHierarchicalRequirementDeleteRequest
*/
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementDelete(ctx context.Context, objectId string) ApiHierarchicalRequirementDeleteRequest {
	return ApiHierarchicalRequirementDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return AllowedAttributeValueDelete200Response
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementDeleteExecute(r ApiHierarchicalRequirementDeleteRequest) (*AllowedAttributeValueDelete200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AllowedAttributeValueDelete200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HierarchicalRequirementAPIService.HierarchicalRequirementDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/hierarchicalrequirement/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHierarchicalRequirementQueryRequest struct {
	ctx        context.Context
	ApiService *HierarchicalRequirementAPIService
	fetch      *string
	start      *int32
	pagesize   *int32
	order      *string
	query      *string
	workspace  *string
	compact    *bool
}

// A comma separated list of the attributes to be returned on the objects being queried. Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows: Defects with Tasks collection summarized: /defect?fetch&#x3D;Tasks:summary&amp;order&#x3D;Rank Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch&#x3D;Tasks:summary[State;Owner] The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent. Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch&#x3D;Tasks:summary[State+Blocked]&amp;order&#x3D;Rank
func (r ApiHierarchicalRequirementQueryRequest) Fetch(fetch string) ApiHierarchicalRequirementQueryRequest {
	r.fetch = &fetch
	return r
}

// start
func (r ApiHierarchicalRequirementQueryRequest) Start(start int32) ApiHierarchicalRequirementQueryRequest {
	r.start = &start
	return r
}

// pagesize
func (r ApiHierarchicalRequirementQueryRequest) Pagesize(pagesize int32) ApiHierarchicalRequirementQueryRequest {
	r.pagesize = &pagesize
	return r
}

// order
func (r ApiHierarchicalRequirementQueryRequest) Order(order string) ApiHierarchicalRequirementQueryRequest {
	r.order = &order
	return r
}

// query
func (r ApiHierarchicalRequirementQueryRequest) Query(query string) ApiHierarchicalRequirementQueryRequest {
	r.query = &query
	return r
}

// workspace
func (r ApiHierarchicalRequirementQueryRequest) Workspace(workspace string) ApiHierarchicalRequirementQueryRequest {
	r.workspace = &workspace
	return r
}

func (r ApiHierarchicalRequirementQueryRequest) Compact(compact bool) ApiHierarchicalRequirementQueryRequest {
	r.compact = &compact
	return r
}

func (r ApiHierarchicalRequirementQueryRequest) Execute() (*HierarchicalRequirementQuery200Response, *http.Response, error) {
	return r.ApiService.HierarchicalRequirementQueryExecute(r)
}

/*
HierarchicalRequirementQuery HierarchicalRequirement Query

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiHierarchicalRequirementQueryRequest
*/
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementQuery(ctx context.Context) ApiHierarchicalRequirementQueryRequest {
	return ApiHierarchicalRequirementQueryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HierarchicalRequirementQuery200Response
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementQueryExecute(r ApiHierarchicalRequirementQueryRequest) (*HierarchicalRequirementQuery200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HierarchicalRequirementQuery200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HierarchicalRequirementAPIService.HierarchicalRequirementQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/hierarchicalrequirement"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.pagesize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagesize", r.pagesize, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.workspace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace", r.workspace, "form", "")
	}
	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHierarchicalRequirementReadRequest struct {
	ctx        context.Context
	ApiService *HierarchicalRequirementAPIService
	objectId   string
	compact    *bool
	fetch      *string
}

func (r ApiHierarchicalRequirementReadRequest) Compact(compact bool) ApiHierarchicalRequirementReadRequest {
	r.compact = &compact
	return r
}

// fetch
func (r ApiHierarchicalRequirementReadRequest) Fetch(fetch string) ApiHierarchicalRequirementReadRequest {
	r.fetch = &fetch
	return r
}

func (r ApiHierarchicalRequirementReadRequest) Execute() (*HierarchicalRequirementRead200Response, *http.Response, error) {
	return r.ApiService.HierarchicalRequirementReadExecute(r)
}

/*
HierarchicalRequirementRead HierarchicalRequirement Read

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiHierarchicalRequirementReadRequest
*/
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementRead(ctx context.Context, objectId string) ApiHierarchicalRequirementReadRequest {
	return ApiHierarchicalRequirementReadRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return HierarchicalRequirementRead200Response
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementReadExecute(r ApiHierarchicalRequirementReadRequest) (*HierarchicalRequirementRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HierarchicalRequirementRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HierarchicalRequirementAPIService.HierarchicalRequirementRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/hierarchicalrequirement/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.compact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "compact", r.compact, "form", "")
	} else {
		var defaultValue bool = true
		r.compact = &defaultValue
	}
	if r.fetch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fetch", r.fetch, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiHierarchicalRequirementUpdateRequest struct {
	ctx                             context.Context
	ApiService                      *HierarchicalRequirementAPIService
	objectId                        string
	hierarchicalRequirementMutation *HierarchicalRequirementMutation
}

// HierarchicalRequirement
func (r ApiHierarchicalRequirementUpdateRequest) HierarchicalRequirementMutation(hierarchicalRequirementMutation HierarchicalRequirementMutation) ApiHierarchicalRequirementUpdateRequest {
	r.hierarchicalRequirementMutation = &hierarchicalRequirementMutation
	return r
}

func (r ApiHierarchicalRequirementUpdateRequest) Execute() (*HierarchicalRequirementRead200Response, *http.Response, error) {
	return r.ApiService.HierarchicalRequirementUpdateExecute(r)
}

/*
HierarchicalRequirementUpdate HierarchicalRequirement Update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param objectId objectId
	@return ApiHierarchicalRequirementUpdateRequest
*/
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementUpdate(ctx context.Context, objectId string) ApiHierarchicalRequirementUpdateRequest {
	return ApiHierarchicalRequirementUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		objectId:   objectId,
	}
}

// Execute executes the request
//
//	@return HierarchicalRequirementRead200Response
func (a *HierarchicalRequirementAPIService) HierarchicalRequirementUpdateExecute(r ApiHierarchicalRequirementUpdateRequest) (*HierarchicalRequirementRead200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HierarchicalRequirementRead200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HierarchicalRequirementAPIService.HierarchicalRequirementUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/slm/webservice/v2.0/hierarchicalrequirement/{objectId}"
	localVarPath = strings.Replace(localVarPath, "{"+"objectId"+"}", url.PathEscape(parameterValueToString(r.objectId, "objectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hierarchicalRequirementMutation == nil {
		return localVarReturnValue, nil, reportError("hierarchicalRequirementMutation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.hierarchicalRequirementMutation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
