openapi: 3.1.0
info:
  contact:
    email: support@rallydev.com
    name: Rally Software
    url: https://rally1.rallydev.com
  description: Rally Open API docs
  license:
    name: private
    url: https://rally1.rallydev.com
  title: Rally WebService API
  version: v2.0
servers:
- url: https://rally1.rallydev.com
security:
- apiKey: []
- basicAuth: []
paths:
  /slm/webservice/v2.0/allowedattributevalue/{objectId}:
    delete:
      operationId: AllowedAttributeValue Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: AllowedAttributeValue Delete
      tags:
      - AllowedAttributeValue
    get:
      operationId: AllowedAttributeValueRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValueRead_200_response"
          description: success
      summary: AllowedAttributeValue Read
      tags:
      - AllowedAttributeValue
    post:
      operationId: AllowedAttributeValueUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AllowedAttributeValueMutation"
        description: AllowedAttributeValue
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValueRead_200_response"
          description: success
      summary: AllowedAttributeValue Update
      tags:
      - AllowedAttributeValue
  /slm/webservice/v2.0/allowedattributevalue/create:
    post:
      operationId: AllowedAttributeValueCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AllowedAttributeValueMutation"
        description: AllowedAttributeValue
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValueCreate_200_response"
          description: success
      summary: AllowedAttributeValue Create
      tags:
      - AllowedAttributeValue
  /slm/webservice/v2.0/allowedqueryoperator/{objectId}:
    get:
      operationId: AllowedQueryOperatorRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedQueryOperatorRead_200_response"
          description: success
      summary: AllowedQueryOperator Read
      tags:
      - AllowedQueryOperator
  /slm/webservice/v2.0/artifactnotification:
    get:
      operationId: ArtifactNotificationQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactNotificationQuery_200_response"
          description: success
      summary: ArtifactNotification Query
      tags:
      - ArtifactNotification
  /slm/webservice/v2.0/artifactnotification/{objectId}:
    get:
      operationId: ArtifactNotificationRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactNotificationRead_200_response"
          description: success
      summary: ArtifactNotification Read
      tags:
      - ArtifactNotification
  /slm/webservice/v2.0/attachment:
    get:
      operationId: AttachmentQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentQuery_200_response"
          description: success
      summary: Attachment Query
      tags:
      - Attachment
  /slm/webservice/v2.0/attachment/{objectId}:
    delete:
      operationId: Attachment Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: Attachment Delete
      tags:
      - Attachment
    get:
      operationId: AttachmentRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentRead_200_response"
          description: success
      summary: Attachment Read
      tags:
      - Attachment
    post:
      operationId: AttachmentUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachmentMutation"
        description: Attachment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentRead_200_response"
          description: success
      summary: Attachment Update
      tags:
      - Attachment
  /slm/webservice/v2.0/attachment/create:
    post:
      operationId: AttachmentCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachmentMutation"
        description: Attachment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentCreate_200_response"
          description: success
      summary: Attachment Create
      tags:
      - Attachment
  /slm/webservice/v2.0/attachmentcontent/{objectId}:
    delete:
      operationId: AttachmentContent Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: AttachmentContent Delete
      tags:
      - AttachmentContent
    get:
      operationId: AttachmentContentRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentContentRead_200_response"
          description: success
      summary: AttachmentContent Read
      tags:
      - AttachmentContent
  /slm/webservice/v2.0/attachmentcontent/create:
    post:
      operationId: AttachmentContentCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachmentContentMutation"
        description: AttachmentContent
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentContentCreate_200_response"
          description: success
      summary: AttachmentContent Create
      tags:
      - AttachmentContent
  /slm/webservice/v2.0/attributedefinition/{objectId}:
    get:
      operationId: AttributeDefinitionRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionRead_200_response"
          description: success
      summary: AttributeDefinition Read
      tags:
      - AttributeDefinition
    post:
      operationId: AttributeDefinitionUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeDefinitionMutation"
        description: AttributeDefinition
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionRead_200_response"
          description: success
      summary: AttributeDefinition Update
      tags:
      - AttributeDefinition
  /slm/webservice/v2.0/attributedefinition/create:
    post:
      operationId: AttributeDefinitionCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttributeDefinitionMutation"
        description: AttributeDefinition
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeDefinitionCreate_200_response"
          description: success
      summary: AttributeDefinition Create
      tags:
      - AttributeDefinition
  /slm/webservice/v2.0/blocker:
    get:
      operationId: BlockerQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockerQuery_200_response"
          description: success
      summary: Blocker Query
      tags:
      - Blocker
  /slm/webservice/v2.0/blocker/{objectId}:
    get:
      operationId: BlockerRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockerRead_200_response"
          description: success
      summary: Blocker Read
      tags:
      - Blocker
    post:
      operationId: BlockerUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BlockerMutation"
        description: Blocker
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockerRead_200_response"
          description: success
      summary: Blocker Update
      tags:
      - Blocker
  /slm/webservice/v2.0/build:
    get:
      operationId: BuildQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildQuery_200_response"
          description: success
      summary: Build Query
      tags:
      - Build
  /slm/webservice/v2.0/build/{objectId}:
    delete:
      operationId: Build Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: Build Delete
      tags:
      - Build
    get:
      operationId: BuildRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildRead_200_response"
          description: success
      summary: Build Read
      tags:
      - Build
    post:
      operationId: BuildUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildMutation"
        description: Build
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildRead_200_response"
          description: success
      summary: Build Update
      tags:
      - Build
  /slm/webservice/v2.0/build/create:
    post:
      operationId: BuildCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildMutation"
        description: Build
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildCreate_200_response"
          description: success
      summary: Build Create
      tags:
      - Build
  /slm/webservice/v2.0/builddefinition:
    get:
      operationId: BuildDefinitionQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildDefinitionQuery_200_response"
          description: success
      summary: BuildDefinition Query
      tags:
      - BuildDefinition
  /slm/webservice/v2.0/builddefinition/{objectId}:
    delete:
      operationId: BuildDefinition Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: BuildDefinition Delete
      tags:
      - BuildDefinition
    get:
      operationId: BuildDefinitionRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildDefinitionRead_200_response"
          description: success
      summary: BuildDefinition Read
      tags:
      - BuildDefinition
    post:
      operationId: BuildDefinitionUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildDefinitionMutation"
        description: BuildDefinition
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildDefinitionRead_200_response"
          description: success
      summary: BuildDefinition Update
      tags:
      - BuildDefinition
  /slm/webservice/v2.0/builddefinition/create:
    post:
      operationId: BuildDefinitionCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildDefinitionMutation"
        description: BuildDefinition
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildDefinitionCreate_200_response"
          description: success
      summary: BuildDefinition Create
      tags:
      - BuildDefinition
  /slm/webservice/v2.0/portfolioitem/businessinitiative:
    get:
      operationId: BusinessInitiativeQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessInitiativeQuery_200_response"
          description: success
      summary: BusinessInitiative Query
      tags:
      - BusinessInitiative
  /slm/webservice/v2.0/portfolioitem/businessinitiative/{objectId}:
    delete:
      operationId: BusinessInitiative Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: BusinessInitiative Delete
      tags:
      - BusinessInitiative
    get:
      operationId: BusinessInitiativeRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessInitiativeRead_200_response"
          description: success
      summary: BusinessInitiative Read
      tags:
      - BusinessInitiative
    post:
      operationId: BusinessInitiativeUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessInitiativeMutation"
        description: BusinessInitiative
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessInitiativeRead_200_response"
          description: success
      summary: BusinessInitiative Update
      tags:
      - BusinessInitiative
  /slm/webservice/v2.0/portfolioitem/businessinitiative/create:
    post:
      operationId: BusinessInitiativeCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessInitiativeMutation"
        description: BusinessInitiative
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessInitiativeCreate_200_response"
          description: success
      summary: BusinessInitiative Create
      tags:
      - BusinessInitiative
  /slm/webservice/v2.0/portfolioitem/businessinitiative/{objectId}/copy:
    post:
      operationId: BusinessInitiativeCopy
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessInitiativeRead_200_response"
          description: success
      summary: BusinessInitiative Copy
      tags:
      - BusinessInitiative
  /slm/webservice/v2.0/capacityplanassignment:
    get:
      operationId: CapacityPlanAssignmentQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanAssignmentQuery_200_response"
          description: success
      summary: CapacityPlanAssignment Query
      tags:
      - CapacityPlanAssignment
  /slm/webservice/v2.0/capacityplanassignment/{objectId}:
    delete:
      operationId: CapacityPlanAssignment Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: CapacityPlanAssignment Delete
      tags:
      - CapacityPlanAssignment
    get:
      operationId: CapacityPlanAssignmentRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanAssignmentRead_200_response"
          description: success
      summary: CapacityPlanAssignment Read
      tags:
      - CapacityPlanAssignment
    post:
      operationId: CapacityPlanAssignmentUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CapacityPlanAssignmentMutation"
        description: CapacityPlanAssignment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanAssignmentRead_200_response"
          description: success
      summary: CapacityPlanAssignment Update
      tags:
      - CapacityPlanAssignment
  /slm/webservice/v2.0/capacityplanassignment/create:
    post:
      operationId: CapacityPlanAssignmentCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CapacityPlanAssignmentMutation"
        description: CapacityPlanAssignment
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanAssignmentCreate_200_response"
          description: success
      summary: CapacityPlanAssignment Create
      tags:
      - CapacityPlanAssignment
  /slm/webservice/v2.0/capacityplanitem:
    get:
      operationId: CapacityPlanItemQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanItemQuery_200_response"
          description: success
      summary: CapacityPlanItem Query
      tags:
      - CapacityPlanItem
  /slm/webservice/v2.0/capacityplanitem/{objectId}:
    delete:
      operationId: CapacityPlanItem Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: CapacityPlanItem Delete
      tags:
      - CapacityPlanItem
    get:
      operationId: CapacityPlanItemRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanItemRead_200_response"
          description: success
      summary: CapacityPlanItem Read
      tags:
      - CapacityPlanItem
    post:
      operationId: CapacityPlanItemUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CapacityPlanItemMutation"
        description: CapacityPlanItem
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanItemRead_200_response"
          description: success
      summary: CapacityPlanItem Update
      tags:
      - CapacityPlanItem
  /slm/webservice/v2.0/capacityplanitem/create:
    post:
      operationId: CapacityPlanItemCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CapacityPlanItemMutation"
        description: CapacityPlanItem
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanItemCreate_200_response"
          description: success
      summary: CapacityPlanItem Create
      tags:
      - CapacityPlanItem
  /slm/webservice/v2.0/capacityplanproject:
    get:
      operationId: CapacityPlanProjectQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanProjectQuery_200_response"
          description: success
      summary: CapacityPlanProject Query
      tags:
      - CapacityPlanProject
  /slm/webservice/v2.0/capacityplanproject/{objectId}:
    delete:
      operationId: CapacityPlanProject Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: CapacityPlanProject Delete
      tags:
      - CapacityPlanProject
    get:
      operationId: CapacityPlanProjectRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanProjectRead_200_response"
          description: success
      summary: CapacityPlanProject Read
      tags:
      - CapacityPlanProject
    post:
      operationId: CapacityPlanProjectUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CapacityPlanProjectMutation"
        description: CapacityPlanProject
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanProjectRead_200_response"
          description: success
      summary: CapacityPlanProject Update
      tags:
      - CapacityPlanProject
  /slm/webservice/v2.0/capacityplanproject/create:
    post:
      operationId: CapacityPlanProjectCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CapacityPlanProjectMutation"
        description: CapacityPlanProject
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapacityPlanProjectCreate_200_response"
          description: success
      summary: CapacityPlanProject Create
      tags:
      - CapacityPlanProject
  /slm/webservice/v2.0/change:
    get:
      operationId: ChangeQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeQuery_200_response"
          description: success
      summary: Change Query
      tags:
      - Change
  /slm/webservice/v2.0/change/{objectId}:
    delete:
      operationId: Change Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: Change Delete
      tags:
      - Change
    get:
      operationId: ChangeRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRead_200_response"
          description: success
      summary: Change Read
      tags:
      - Change
    post:
      operationId: ChangeUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeMutation"
        description: Change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeRead_200_response"
          description: success
      summary: Change Update
      tags:
      - Change
  /slm/webservice/v2.0/change/create:
    post:
      operationId: ChangeCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeMutation"
        description: Change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeCreate_200_response"
          description: success
      summary: Change Create
      tags:
      - Change
  /slm/webservice/v2.0/changeset:
    get:
      operationId: ChangesetQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangesetQuery_200_response"
          description: success
      summary: Changeset Query
      tags:
      - Changeset
  /slm/webservice/v2.0/changeset/{objectId}:
    delete:
      operationId: Changeset Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: Changeset Delete
      tags:
      - Changeset
    get:
      operationId: ChangesetRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangesetRead_200_response"
          description: success
      summary: Changeset Read
      tags:
      - Changeset
    post:
      operationId: ChangesetUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangesetMutation"
        description: Changeset
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangesetRead_200_response"
          description: success
      summary: Changeset Update
      tags:
      - Changeset
  /slm/webservice/v2.0/changeset/create:
    post:
      operationId: ChangesetCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangesetMutation"
        description: Changeset
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangesetCreate_200_response"
          description: success
      summary: Changeset Create
      tags:
      - Changeset
  /slm/webservice/v2.0/conversationpost:
    get:
      operationId: ConversationPostQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationPostQuery_200_response"
          description: success
      summary: ConversationPost Query
      tags:
      - ConversationPost
  /slm/webservice/v2.0/conversationpost/{objectId}:
    delete:
      operationId: ConversationPost Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: ConversationPost Delete
      tags:
      - ConversationPost
    get:
      operationId: ConversationPostRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationPostRead_200_response"
          description: success
      summary: ConversationPost Read
      tags:
      - ConversationPost
    post:
      operationId: ConversationPostUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationPostMutation"
        description: ConversationPost
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationPostRead_200_response"
          description: success
      summary: ConversationPost Update
      tags:
      - ConversationPost
  /slm/webservice/v2.0/conversationpost/create:
    post:
      operationId: ConversationPostCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationPostMutation"
        description: ConversationPost
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationPostCreate_200_response"
          description: success
      summary: ConversationPost Create
      tags:
      - ConversationPost
  /slm/webservice/v2.0/defect:
    get:
      operationId: DefectQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectQuery_200_response"
          description: success
      summary: Defect Query
      tags:
      - Defect
  /slm/webservice/v2.0/defect/{objectId}:
    delete:
      operationId: Defect Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: Defect Delete
      tags:
      - Defect
    get:
      operationId: DefectRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectRead_200_response"
          description: success
      summary: Defect Read
      tags:
      - Defect
    post:
      operationId: DefectUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DefectMutation"
        description: Defect
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectRead_200_response"
          description: success
      summary: Defect Update
      tags:
      - Defect
  /slm/webservice/v2.0/defect/create:
    post:
      operationId: DefectCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DefectMutation"
        description: Defect
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectCreate_200_response"
          description: success
      summary: Defect Create
      tags:
      - Defect
  /slm/webservice/v2.0/defect/{objectId}/copy:
    post:
      operationId: DefectCopy
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectRead_200_response"
          description: success
      summary: Defect Copy
      tags:
      - Defect
  /slm/webservice/v2.0/defectsuite:
    get:
      operationId: DefectSuiteQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectSuiteQuery_200_response"
          description: success
      summary: DefectSuite Query
      tags:
      - DefectSuite
  /slm/webservice/v2.0/defectsuite/{objectId}:
    delete:
      operationId: DefectSuite Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: DefectSuite Delete
      tags:
      - DefectSuite
    get:
      operationId: DefectSuiteRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectSuiteRead_200_response"
          description: success
      summary: DefectSuite Read
      tags:
      - DefectSuite
    post:
      operationId: DefectSuiteUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DefectSuiteMutation"
        description: DefectSuite
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectSuiteRead_200_response"
          description: success
      summary: DefectSuite Update
      tags:
      - DefectSuite
  /slm/webservice/v2.0/defectsuite/create:
    post:
      operationId: DefectSuiteCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DefectSuiteMutation"
        description: DefectSuite
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefectSuiteCreate_200_response"
          description: success
      summary: DefectSuite Create
      tags:
      - DefectSuite
  /slm/webservice/v2.0/portfolioitem/epic:
    get:
      operationId: EpicQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpicQuery_200_response"
          description: success
      summary: Epic Query
      tags:
      - Epic
  /slm/webservice/v2.0/portfolioitem/epic/{objectId}:
    delete:
      operationId: Epic Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: Epic Delete
      tags:
      - Epic
    get:
      operationId: EpicRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpicRead_200_response"
          description: success
      summary: Epic Read
      tags:
      - Epic
    post:
      operationId: EpicUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EpicMutation"
        description: Epic
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpicRead_200_response"
          description: success
      summary: Epic Update
      tags:
      - Epic
  /slm/webservice/v2.0/portfolioitem/epic/create:
    post:
      operationId: EpicCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EpicMutation"
        description: Epic
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpicCreate_200_response"
          description: success
      summary: Epic Create
      tags:
      - Epic
  /slm/webservice/v2.0/portfolioitem/epic/{objectId}/copy:
    post:
      operationId: EpicCopy
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpicRead_200_response"
          description: success
      summary: Epic Copy
      tags:
      - Epic
  /slm/webservice/v2.0/portfolioitem/feature:
    get:
      operationId: FeatureQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureQuery_200_response"
          description: success
      summary: Feature Query
      tags:
      - Feature
  /slm/webservice/v2.0/portfolioitem/feature/{objectId}:
    delete:
      operationId: Feature Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: Feature Delete
      tags:
      - Feature
    get:
      operationId: FeatureRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRead_200_response"
          description: success
      summary: Feature Read
      tags:
      - Feature
    post:
      operationId: FeatureUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureMutation"
        description: Feature
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRead_200_response"
          description: success
      summary: Feature Update
      tags:
      - Feature
  /slm/webservice/v2.0/portfolioitem/feature/create:
    post:
      operationId: FeatureCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeatureMutation"
        description: Feature
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureCreate_200_response"
          description: success
      summary: Feature Create
      tags:
      - Feature
  /slm/webservice/v2.0/portfolioitem/feature/{objectId}/copy:
    post:
      operationId: FeatureCopy
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeatureRead_200_response"
          description: success
      summary: Feature Copy
      tags:
      - Feature
  /slm/webservice/v2.0/flowstate:
    get:
      operationId: FlowStateQuery
      parameters:
      - description: |
          A comma separated list of the attributes to be returned on the objects being queried.
          Collections can be summarized by suffixing a collection attribute name with the :summary keyword. The summary can optionally be grouped by one or more attributes by enclosing a semicolon-delimited list of summary groupable fields within square brackets. Some example fetch lists for collection summaries are as follows:
          Defects with Tasks collection summarized: /defect?fetch=Tasks:summary&order=Rank
          Defects with Tasks collection summarized, grouped by State and Owner: /defect?fetch=Tasks:summary[State;Owner]
          The summary can also contain nested groups by enclosing a semicolon-delimited list of summary groupable fields combined with a + symbol. The + sign should be uri encoded as %2B when sent.
          Defects with Tasks collection summarized, grouped by a combination of State and Blocked: /defect?fetch=Tasks:summary[State+Blocked]&order=Rank
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: start
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: integer
        style: form
      - description: pagesize
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          type: integer
        style: form
      - description: order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      - description: query
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: workspace
        explode: true
        in: query
        name: workspace
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowStateQuery_200_response"
          description: success
      summary: FlowState Query
      tags:
      - FlowState
  /slm/webservice/v2.0/flowstate/{objectId}:
    delete:
      operationId: FlowState Delete
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowedAttributeValue_Delete_200_response"
          description: success
      summary: FlowState Delete
      tags:
      - FlowState
    get:
      operationId: FlowStateRead
      parameters:
      - description: ""
        explode: true
        in: query
        name: compact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: fetch
        explode: true
        in: query
        name: fetch
        required: false
        schema:
          type: string
        style: form
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowStateRead_200_response"
          description: success
      summary: FlowState Read
      tags:
      - FlowState
    post:
      operationId: FlowStateUpdate
      parameters:
      - description: objectId
        explode: false
        in: path
        name: objectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowStateMutation"
        description: FlowState
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlowStateRead_200_response"
          description: success
      summary: FlowState Update
      tags:
      - FlowState
  /slm/webservice/v2.0/flowstate/create:
[...]
